// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'THE BOLD FONT';
  src: url(../font/THE\ BOLD\ FONT.ttf);
}

// variable
$background:#131E10;
$title:#CFDEBF;
$text:#FFFFFF;
$buttonBackground:#2A5D21;
$buttonBorder:#1C3E16;
$buttonBackgroundHover:#317D24;
$inputColorFocus:#8FDA7B;
$inputBorderOpacity:rgba(144, 218, 123, 50%);